* {
  font-family: century gothic;
}

.jogos td {
  padding: 0px 15px;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px 10px;
}

table tr td {
  font-size: 15px;
  padding: 3px 10px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}